<% form_for("user", :url => user_registration_path, :html => { :class => "edit_user" } ) do |f| %> 
  <div class="field">
	<%= f.label :name, "Name" %>
	<%= f.text_field :name, :size => "8" %>
	</div>
	<div class="field">
	<%= f.label :email, "Email" %>
	<%= f.text_field :email, :size => "8" %>
	</div>
	<div class="field">
	<%= f.label :phone_number, "Phone Number" %>
	<%= f.text_field :phone_number, :size => "8" %>
	</div>
	<div class="field">
	<%= f.label :password, "Password" %>
	<%= f.password_field :password, :size => "8" %>
	</div>
	<div class="field">
	<%= f.label :password_confirmation, "Password Confirmation" %>
	<%= f.password_field :password_confirmation, :size => "8" %>
	</div>
	<div class="actions">
	<%= f.submit "Submit", :disable_with => 'Submiting...', :id => "user_submit" %>	
	</div>
<% end -%> 
<!-- Not logged in: Email, Name, Phone_number, Password / password confirmation
Logged in: Call on this word | Big text field (later share)  -->											