<% if defined? @word.id %> 
	<% form_for("recording", :url => recordings_makecall_path, :html => { :class => "edit_user" } ) do |f| -%>
		<%= f.hidden_field :word_id %>
		<div class="field">
		<%= f.label :alias, "Alias" %>
		<%= f.text_field :alias, :size => "8" %>
		</div>
		<div class="field">
		<%= f.label :short_text, "Short Message" %>
		<%= f.text_field :short_text, :size => "8" %>
		</div>
		<div class="actions">
		<%= f.submit "Call Me Now!", :id => "user_submit" %>	
		</div>
	<% end -%>
<% else %>
  Share a good word with friends!  	
<% end -%>
