<!-- start header		 -->
		<div class="container_16"> 
			<div id="header" class="container_16">
			 	<div id="logo" class="grid_3"><img src="/images/logo.gif"></div>             
				<div id="nav" class="grid_13">
					<div id="navbar">
						<p id="navigation">
						<%= link_to "Create a Word", new_word_path %> | <%= link_to "List Words ", words_path %> | 
						<% if user_signed_in? %>
							<%= link_to current_user.name + " Profile", current_user %> | <%= link_to 'sign out', destroy_user_session_path %>
							</p>
						<% else %>
							</p>
							<% form_for("user", :url => user_session_path) do |f| %>
							  <%= f.label :email %>
								<%= f.text_field :email, :size => '8' %>
								<%= f.label :password %>
								<%= f.password_field :password, :size => '8'%>
								<%= f.submit "Submit", :disable_with => 'Submiting...' %>
							<% end %> 
						<% end %>
					</div>            
				</div>
			</div>
		</div>

	  <div class="clear"></div>
	
		<!-- set repeating bg img for this bar	 --> 
    <div id="main">
			<div class="container_16"> 
				<div id="word" class="grid_7">
					<div id="wordcontainer">
					<p id="theword">
						<%= raw @title %>
					</p>
					</div>
				</div>  
				<div id="formcontainer" class="grid_7">
					<!-- add form to this div -->
					<div id="form"> 
					  <p class="text">Phone numbers aren't saved in any fashion (db or logs) but click here if you prefer to upload mp3.</p>
						<% if user_signed_in? %>
							<%= render :partial => 'layouts/banner_form_logged_in' %>       
						<% else %>
							<%= render :partial => 'layouts/banner_form' %>  
						<% end -%>
					</div>
				<!-- end for for this div -->
				</div>
			</div>	 
		</div>
<!-- end header	  -->