<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<title>good word</title>

<%= javascript_include_tag :defaults %>  
<%= javascript_include_tag '/player/build/mediaelement.js' %>
<%= javascript_include_tag '/player/build/mediaelementplayer.js' %>


<%= stylesheet_link_tag '../player/build/mediaelementplayer.css' %>
<%= stylesheet_link_tag 'reset' %>
<%= stylesheet_link_tag 'text' %>
<%= stylesheet_link_tag '960' %>


<%= csrf_meta_tag %> 


</head>


<body>               
		

				<%= yield %>                          

</body>
</html>
<script>
$('audio').mediaelementplayer({audioWidth: 175, controls: {play: true, progressBar: true, duration: false, volume:true}});
</script>